
.page-container {
    padding: 20px;
}
.skill-item {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.user-image {
    margin-right: 10px;
}

.list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight-list {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.highlight-item {
    margin-right: 10px;
}

.divided-item {
    padding-bottom: 20px;
}